[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
matplotlib = "*"
selenium = "*"
regex = "*"
computergym = {editable = true, path = "./computergym"}
torchtext = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]

[pipenv]
allow_prereleases = true
